.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app .content {
    flex: 1;
}

.sub.header a {
    color: inherit;
}

.sub.header a .icon:only-child {
    margin-right: 0.25rem;
    vertical-align: middle;
}

.ui.segment.no-side-padding {
    padding: 1em 0;
}

.ui.horizontal.segments.basic {
    border: none;
    box-shadow: none;
    margin: 0;
}